<div class="width">
  <div class="row" >
    <div class="txt-center">
      <span><span class="header-fntsz"> <b>T-SHIRTS FOR MEN</b></span> ({{productsCount.RowCount}}items)</span>
    </div>
  </div>
  <div class="row">
    <div class="sort-mrgn" type="button">
      <b><span  >Sort By</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down buton" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg></b>
    </div><br>
    <div class="sort-border ">
      <ul type="none" class="list-padding">
        <li>Popular</li><br>
        <li>Price : High to Low</li><br>
        <li>price : Low to High</li><br>
        <li>Best seller</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h4>FILTER BY</h4>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-4 " *ngFor="let listOfProduct of listOfProducts">
          <div class="box-border" (mouseover)="changetxt=true" (mouseout)="changetxt=false">
            <img class="img-width" src="{{listOfProduct.ListImagePath + listOfProduct.Images.split('|')[0]}}"><br>
            <div class="font-size">
              <div *ngIf="!changetxt">
                <span>{{listOfProduct.ColorsCount}}  </span> <span> Colors</span><br>
                <span>Style-</span><span> {{listOfProduct.StyleNumber}}</span><br>
                <span>{{listOfProduct.ProductTitle}}</span><br>
              </div>
              <div>
                <span></span>
              </div>  
              <span class="mrp-color">₹  {{listOfProduct.MRP}}.00</span>
            </div>
          </div>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>
</div>
